<h3 class="main-title">Your bookings:</h3>

<div class="container">
<% @bookings.each do |booking| %>
  <div class="wrapper-gray">
    <div class="studio-contain"  style="background-image: url( '<%= booking.studio.photo %>' )">
      <div class="col-xs-12 col-sm-6">
        <div class="studio-black">
          <h3><%= booking.studio.name %></h3>
          <p>Booking for : <%= booking.date %></p>
          <h4><strong><%= booking.status %></strong></h4>
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Confirm cancellation...' }, class: "btn btn-danger offer-button" %>
        </div>
      </div>
          <%= cl_image_tag booking.studio.user.photo, id: "navbar-wagon-menu", class: "avatar card-user" %>
    </div>
  </div>
  <% end %>
</div>
