<h3 class="main-title">Your bookings:</h3>
<div class="container">
  <% @bookings.each do |booking| %>
  <div class="row wrapper-offer">
    <div class="col-xs-12 col-sm-4">
      <div class="offer-card">
        <h2><%= booking.studio.name %></h2>
        <p><%= booking.date %></p>
        <p><strong><%= booking.status %></strong></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="offer-card">
        <div class="card-studios"  style="background-image: url( '<%= booking.studio.photo %>' )">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="offer-card">
        <%= link_to "Cancel", booking_path(booking), method: :delete, class: "btn btn-danger offer-button" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
