<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="wrapper-booking">
        <h2>Thank you , <%= @booking.user.first_name %>!</h2>
        <p>Your booking request for <%= @booking.studio.name %> on
        <%= @booking.date %> has been sent to <%= @booking.studio.user.first_name %>!</p>
        <%= link_to "Back to studio", studio_path(@booking.studio), class: "search-wagon-button btn text-center" %>
        <%= link_to "Go to home page", root_path, class: "search-wagon-button btn text-center" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
<% @bookings.each do |booking| %>
  <div class="wrapper-gray">
    <div class="studio-contain"  style="background-image: url( '<%= booking.studio.photo %>' )">
      <div class="col-xs-12 col-sm-6">
        <div class="studio-black">
          <h3><%= booking.studio.name %></h3>
          <p>Booking for : <%= booking.date %></p>
          <h4><strong><%= booking.status %></strong></h4>
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Confirm cancellation...' }, class: "btn btn-danger offer-button" %>
        </div>
      </div>
          <%= cl_image_tag booking.studio.user.photo, id: "navbar-wagon-menu", class: "avatar card-user" %>
    </div>
  </div>
  <% end %>
</div>

