<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path 'studiobackground.jpg' %>');">
  <div class="banner-content">
    <%= form_tag studios_path, method: :get do %>
      <input type="text" name="date" class="form-control datepicker">
      <%= submit_tag "Search", class: "search-wagon-button btn" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="main-title">
      <h1>Find a Studio Near You</h1>
    </div>
  </div>
</div>

<div class="wrapper-carousel">
  <div class="first-box">
    <h4>Recommended Studios</h4>
    <div id="carousel-example-generic" class="carousel slide" style="width: 400px; margin: 0 auto" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= cl_image_tag("bgr25wevi0y3hzmtoryd", crop: :fill) %>
          <%= link_to nil, studio_path(1), class: "card-link" %>
          <div class="carousel-caption">
            <h4>Abbey Road Studios</h4>
            <p>Shinjuku, Tokyo, Japan</p>
          </div>
        </div>
        <div class="item">
          <%= cl_image_tag("j9b8b78brhsl6j7lrif1", crop: :fill) %>
          <%= link_to nil, studio_path(2), class: "card-link" %>
          <div class="carousel-caption">
            <h4>The Dungeon</h4>
            <p>Shibuya, Tokyo, Japan</p>
          </div>
        </div>
        <div class="item">
          <%= cl_image_tag("afoymbi8aw5ywzjr6kh0", crop: :fill) %>
          <%= link_to nil, studio_path(4), class: "card-link" %>
          <div class="carousel-caption">
            <h4>Trident Studios</h4>
            <p>Roppongi Hills, Tokyo, Japan</p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="second-box">
    <h4>Recently Booked Studios</h4>
    <div id="carousel-example-second" class="carousel slide" style="width: 400px; margin: 0 auto" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-second" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-second" data-slide-to="1"></li>
        <li data-target="#carousel-example-second" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= cl_image_tag("zywkgw522ntyguvh16us", crop: :fill) %>
          <%= link_to nil, studio_path(7), class: "card-link" %>
          <div class="carousel-caption">
            <h4>Motown</h4>
            <p>Nippori, Tokyo, Japan</p>
          </div>
        </div>
        <div class="item">
          <%= cl_image_tag("jfwbjlpkpvrzi8wl6xhn", crop: :fill) %>
          <%= link_to nil, studio_path(8), class: "card-link" %>
          <div class="carousel-caption">
            <h4>Electric Lady Studios</h4>
            <p>Aoyama, Tokyo, Japan</p>
          </div>
        </div>
        <div class="item">
          <%= cl_image_tag("ck53amhlbado7afouiiy", crop: :fill) %>
          <%= link_to nil, studio_path(9), class: "card-link" %>
          <div class="carousel-caption">
            <h4>Sun Studio</h4>
            <p>Harajuku, Tokyo, Japan</p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-second" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-second" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
