<h3 class="main-title">Your studios:</h3>
<div class="container">
  <% @studios.each do |studio| %>
  <div class="row wrapper-offer">
    <div class="col-xs-12 col-sm-6">
      <div class="offer-card">
        <div class="card-studios"  style="background-image: url( '<%= studio.photo %>' )">
        </div>
      </div>

      <div class="offer-card">
      <%= link_to "Edit", root_path, method: :patch, class: "btn btn-info offer-button" %>
      <%= link_to 'Remove', root_path, method: :delete, data: { confirm: 'Confirm remove...' }, class: "btn btn-danger offer-button" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="studio-card">
        <h2><%= studio.name %></h2>
        <p><%= studio.location %></p>
        <p><strong>Price: </strong>¥<%= studio.price %> / day</p>
        <p><strong>Capacity: </strong><%= studio.capacity %></p>
        <p>   <%= studio.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
