<div class="studio-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @studio.photo %>')">
  <div class="container">
    <div class="row">
      <div class="wrapper-black">
        <h1><%= @studio.name %></h1>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="studio-card">
              <p><%= @studio.location %></p>
              <p>Price ¥: <%= @studio.price %></p>
              <p>Capacity: <%= @studio.capacity%></p>
              <p><%= @studio.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper-black">
        <div class="skinny">
          <h3>Book Now</h3>
          <%= simple_form_for [@studio, @booking] do |f| %>
            <%= f.input :member, label: '# of members', collection: (1..@studio.capacity) %>
            <%= f.input :date %>
          <%= f.submit "Book Studio", class: "search-wagon-button btn" %>
          <% end %>
          <%= link_to "Back to search", studios_path, class: "search-wagon-button btn text-center" %>
        </div>
      </div>
    </div>


  </div>
</div>




